<?php

namespace StormMeta;

/**
 * Test for {{ class.name|regex_replace('/Test$/', '') }}
 *
 * @author USAMI Kenta <tadsan@zonu.me>
 * @copyright 2019 USAMI Kenta
 * @license https://www.mozilla.org/en-US/MPL/2.0/ MPL-2.0
 */
final class {{ class.name }} extends TestCase
{
}
